$body-bg: #f5f5f1;
$body-bg-img: "../images/BackgroundTexture.png";
$body-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
;

$primary-color: #53596e;
$secondary-color: #777;
$green-color: #00d692;
$brand-color: $green-color;

$orange-color: #e5ae57;
$pink-color: #de93c3;