/* ================================ Tags =========================== */
.filter-tabs,
.sort-tabs {
    margin:0;
    padding:0;
}
.filter-tabs li,
.sort-tabs li {
    display:inline-block;
    vertical-align:baseline;
    zoom:1;
    *display:inline;
    *vertical-align:auto;
    margin:0 4px 4px 0;
    padding:0;
    list-style:none;
}
 .filter-tabs li a,
.sort-tabs li a {
    text-decoration:none;
    display:block;
    background-color:#eee;
    border:1px solid #ddd;
    padding:2px 7px 0;
    border-radius:3px;
    color:gray;
    font-size:.85em;
}
 .filter-tabs.tags li a {
     font-size: 1.2em;
 }
 .filter-tabs li a:hover,
.sort-tabs li a:hover {
    background-color:#ddd;
}
 .filter-tabs li.heading,
.sort-tabs li.heading {
    display:block;
}
 .filter-tabs li.active a,
.sort-tabs li.active a {
    background-color:#86aa3b;
    border-color:#86AA3B;
    color:#fff;
}