{% extends ../base.html %}

{% block content %}
<h1>Administrate Users</h1>
	<table class="table">
		<thead>
			<th>Id</th>
			<th>Username</th>
			<th>Email</th>
			<th>Role</th>
			<th>Posts</th>
			<th>Ban</th>
		</thead>
		<tbody>
			{% for u in users %}
			<tr>
				<td>{{ u['user']['id_str'] }}</td>
				<td>
					<a href="/user/{{ u['user']['username'] }}">{{ u['user']['username'] }}</a>
					{% if ('is_blacklisted' in u['user']) and u['user']['is_blacklisted'] %}
						<span class="label label-danger">Blacklisted</span>
					{% end %}
				</td>
				<td>{{ u['email_address'] }}</td>
				<td>
					<form method="POST">
						<input type="hidden" name="uid" value="{{ u['user']['id_str'] }}" />
						<select name="role" class="form-control" onchange="this.form.submit()"  {% if u['user']['username'] in administrators %} disabled {% end %}>
							{% for role in admin_roles %}
							<option {% if role == u['role'] %} selected {% end %} value="{{role}}">{{role}}</option>
							{% end %}
							{% for role in user_roles %}
							<option {% if role == u['role'] %} selected {% end %} value="{{role}}">{{role}}</option>
							{% end %}
						</select>
					</form>
				</td>
				<td>
					{{get_post_count(u['user']['username'])}}
					<a href = "/users/{{ u['user']['username'] }}/delete_user" ><i class="glyphicon glyphicon-trash"></i></a>
				</td>
				<td>
					{% if ('is_blacklisted' in u['user']) and u['user']['is_blacklisted'] %}
						<a href = "/users/{{ u['user']['username'] }}/unban" >Unban…</a>
					{% else %}
						<a href = "/users/{{ u['user']['username'] }}/ban" >Ban…</a>
					{% end %}
				</td>

			</tr>
			{% end %}
		</tbody>
	</table>

{% end %}
