{% extends "../base.html" %}
<!--
  Community Stats
  # log everything per day
  # report by day or by week

  # posts
  # comments
  
  # unique visitors
  # unique visits
  
  # active users
  # new users 
  
-->

{% block content %}
  <h1>Stats</h1>
  <ul class="stats">
    <li class="posts">
      <div class="stat-number">{{ total_posts }}</div>
      <div class="stat-label">Total posts</div>
      <div class="stat-notes">since 8/1/13</div>
    </li>
    <li class="users">
      <div class="stat-number">{{ total_users }}</div>
      <div class="stat-label">Registered users</div>
      <div class="stat-notes"></div>
    </li>
  </ul>  
  
{% end %}
