{% extends '../base.html' %}
{% block content %}
<script type="text/javascript" src = "static/js/home.js"></script>
<div class="container cta-container">
	<div class="row">
		<div class="row">
		<div class="col-xs-12 col-md-11 col-md-offset-1">
			<h1 class="">
				<span class="fadesout"> Let&rsquo;s <span class="brand">Grow Food Tech</span> in Canada </span> &nbsp;
			</h1>
			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1 col-md-offset-1">
			<span class = "home-underline"><hr class="fadesout"/> &nbsp;</span>
			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-7 col-md-offset-1">
			<h2>
				<p>Be part of a growing community to transform the collaboration between food &amp; technology.</p>
			</h2>
			<h2>
				<p>We&rsquo;re building the network face-to-face first. In the meantime, please join the <a class="link conversation" href="/converse">conversation</a> or <a class="link contact" href="/contact">reach out.</a></p>
			</h2>
		</div>
	</div>
	</div>
	<div class="row joining-movement">
		<div class="col-xs-12 col-md-7 col-md-offset-1">
			<h3><i class="down-arrow glyphicon glyphicon-download"></i> Who's joining the movement?</h3>
		</div>
	</div>
	<div class="row partners">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<ul class="block-grid-sm-5 block-grid-xs-2">
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
				<li class="block-grid-item partner-image"><img src="http://placekitten.com/100/70"></li>
			</ul>
		</div>
	</div>
</div>

{% end %}