{% set static_page = (current_path == "/" or current_path == "/contact") %}
<nav role="navigation" id="main-nav" class="{{ body_location_class }}">
	<div class="container">
		<div class="row">
			{% if current_path == '/' %}
			<div class="col-md-10 col-xs-12 col-md-offset-1">
			{% else %}
			<div class="col-xs-12">
			{% end %}
				<a class="big-brand brand hidden-xs {{ body_location_class }}" href="/">Grow Food Tech</a>
				<a class="small-brand brand hidden-sm hidden-md hidden-lg {{ body_location_class }}" href="/">GFT</a>
				<ul class="list-inline pull-right">
				{% if static_page %}
						<li><a class="link conversation" href="/converse">Conversation</a></li>
						<li><a class="link contact" href="/contact">Contact</a></li>
				{% end %}
				{% if current_user and not static_page %}
						<li><span class="hidden-xs">Welcome, </span><a href="/user/{{current_user}}" class="login">@{{ current_user }}</a><span class="hidden-xs">! &nbsp;</span></li>
				{% end %}
				{% if current_user_can('see_admin_link') and not static_page %}
						<li><a class="login" href="/admin">Admin</a> &nbsp;</li>
				{% end %}
				{% if current_user and not static_page %}
						<li><a class="login" href="/auth/logout?next={{ current_path }}">Logout</a></li>
				{% elif not static_page %}
						<li><a class="login" href="/auth/twitter/?next={{ current_path }}">Log in with Twitter</a></li>
				{% end %}
			</ul>
			</div>      
		</div>
	</div>
</nav>

