<nav role="navigation" id="main-nav" class="{{ body_location_class }}">
	<div class="container">
		<div class="row">
			{% if current_path == '/' %}
			<div class="col-md-10 col-xs-12 col-md-offset-1">
			{% else %}
			<div class="col-xs-12">
			{% end %}
				<a class="big-brand brand hidden-xs {{ body_location_class }}" href="{% if current_path == '/' %} / {% else %} /converse {% end %}">Grow Food Tech</a>
				<a class="small-brand brand hidden-sm {{ body_location_class }}" href="{% if current_path == '/' %} / {% else %} /converse {% end %}">GFT</a>
				<ul class="list-inline pull-right">
				{% if current_path == "/" %}
						<li><a class="link conversation" href="/converse">Conversation</a></li>
						<li><a class="link contact" href="/contact">Contact</a></li>
				{% end %}
				{% if current_user and  current_path != "/" %}
						<li>Welcome, <a href="/user/{{current_user}}" class="login">@{{ current_user }}</a>! &nbsp;</li>
				{% end %}
				{% if current_user_can('see_admin_link') and  current_path != "/" %}
						<li><a class="login" href="/admin">Admin</a> &nbsp;</li>
				{% end %}
				{% if current_user and  current_path != "/" %}
						<li><a class="login" href="/auth/logout?next={{ current_path }}">Logout</a></li>
				{% elif current_path !="/" %}
						<li><a class="login" href="/auth/twitter/?next={{ current_path }}">Log in with Twitter</a></li>
				{% end %}
			</ul>
			</div>      
		</div>
	</div>
</nav>

