{% extends '../base.html' %}

{% block content %}
<div id="main" role="main">
	<div class="row">

		<div class="col-sm-8 col-sm-push-4" id="posts">
			<h2 class="subsection section-heading" >All tags</h2>

			<ul class="filter-tabs tags">
				{% for t in tags['result'] %}
				<li><a data-tag-count="{{t['count']}}" href="/tagged/{{t['_id']}}">#{{t['_id']}} ({{t['count']}})</a></li>
				{% end %}
			</ul>
		</div><!-- /.col-sm-6 -->
		<div class="col-sm-4 col-sm-pull-8">   
			{% include ../post/post_sidebar.html %}
		</div>
	</div>
	{% end %}
