{% if 'body_class' not in locals() %}
{% set body_class = "" %}
{% end %}
{% from urlparse import urlparse %}
{% from lib import template_helpers %}
{% from lib import flashmessage %}
{% import settings %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}{% end %}{{ settings.get('site_title') }}</title>
  <meta name="google-site-verification" content="qbHXPf_0eL_pJbnsbsmAOcoUolwNEtCsr4YdB4HwOFA" />
  <meta name="description" content="{{ settings.get('site_description') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="alternate" type="application/rss+xml" title="{{ settings.get('site_title') }} - Latest Posts" href="/feed/new" />
  <link rel="alternate" type="application/rss+xml" title="{{ settings.get('site_title') }} - Hot Posts" href="/feed/hot" />
  <link rel="alternate" type="application/rss+xml" title="{{ settings.get('site_title') }} - Today's Posts" href="/feed/today" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ static_url("img/usv-touch-icon.png") }}" />
  <link rel="shortcut icon" href="{{ static_url("themes/%s/img/favicon.png" % settings.get('active_theme')) }}" type="image/png" />
  <!-- <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" /> -->
  <!-- dont cache style.css yes, since we're still developing on it heavily -->
  <!-- <link rel="stylesheet" href="{{ static_url("css/theconversation.css") }}" /> -->
  
  <!-- Theme files -->
  <link rel="stylesheet" href="{{ static_url("themes/%s/%s.css" % (settings.get('active_theme'), settings.get('active_theme'))) }}" />

  <!-- SASS compiled stylesheets -->
  <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />

  <script src="{{ static_url("js/vendor/respond.min.js") }}"></script>
  <script src="{{ static_url("js/vendor/jquery-1.9.1.min.js") }}"></script>
  <script src="{{ static_url("js/bootstrap.js") }}"></script> 
  <script type="text/javascript" src="{{ static_url("js/vendor/modernizr-2.6.2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/tinymce/jquery.tinymce.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/plugins.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/scripts.js") }}&ver=2"></script>
  <script type="text/javascript" src="{{ static_url("js/swipe.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/modules_bundle.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/vendor/jquery.scrollto.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.qtip.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/support_functions.js") }}"></script>
  <script src="http://platform.twitter.com/widgets.js"  type="text/javascript"></script>
  <script type="text/javascript" src="{{ static_url("js/vendor/jquery.jscroll.min.js") }}"></script>
  {% block css %}{% end %}
</head>

<body class="{{ body_location_class }} {% block body_class %}{% end %} {% if current_user in settings.get('staff') %}staff{% end %}">  
  {% include "general/navbar.html" %}      
  <div id="content">
    <div class="container">
      {% if handler.has_cookie('flash_success') %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
      {% raw handler.pop_cookie('flash_success') %}
    </div>
    {% end %}
    {% if handler.has_cookie('flash_error') %}
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        {% raw handler.pop_cookie('flash_error') %}
      </div> 
    {% end %}
      {% if current_path != "/" %}{% include post/submit_post_modal.html %}{% end %}      
      {% block precontent %}{% end %}
      {% block content %}{% end %}
    </div>
  </div>
  {# include general/footer.html #}
</div>

<script type="text/javascript">
USV_is_admin = '{% if current_user in settings.get('staff') %}true{% end %}';
USV_tinymce_valid_elements = "{{settings.get('tinymce_valid_elements')}}";
USV_tinymce_post_char_limit = {{settings.get('post_char_limit')}};
$(function() {
  $('.submit-button').on('click', function() {
    $(this).parent('form').submit();
    e.stopPropagation();
    e.preventDefault();
  });
});
$(document).ready(function() {
  window.mySwipe = Swipe(document.getElementById('slider')); 
});
</script>
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{settings.get("disqus_short_code")}}'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        /*var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        */
      }());
    </script>


    {% block javascript %}{% end %}
    <script type="text/javascript">
    
    /*
    #
    # Validate Post Form
    #
    */
    $('.submit-post-form').submit(function(e) {


    });
    
    $(function() {
      $('.field-errors').each(function() {
        if($.trim($(this).html()) == '') {
          $(this).hide();
        }
      });
      $('a.no-match').on('click', function(e) {
        $('#bypass_dup_check').val('true');
        $(this).closest('.field-errors').hide();
      });
    });
    
    
    $('body').on('click', '.ajax_upvote_link', function(e) {
      e.stopPropagation();
      e.preventDefault();
      var upvote_link = $(this);
      if (upvote_link.parent().hasClass('bumped')) {
        // user has already voted - this is a downvote.
        $.ajax($(this).attr('href'), {
          type: 'POST',
          error: function(jqxhr, status, error) {
            alert("Could not upvote, an error occurred. Please try again.");
          },
          success: function(data, status, jqxhr) {
            if(data['data']['error']) {
              if(data['data']['redirect']) {
                $("#submit-modal").modal("show");
              } else {
                alert(data['data']['error']);
              }
              return;
            }
            upvote_link.find('.value').text(data['data']['votes']);
            upvote_link.parent().removeClass('bumped');
            upvote_link.attr('href', upvote_link.attr('href').replace('unbump', 'bump'));
          }
        });
      } else {
        // user has not already voted. this is an upvote.
        $.ajax($(this).attr('href'), {
          type: 'POST',
          error: function(jqxhr, status, error) {
           alert("Could not upvote, an error occurred. Please try again.");
         },
         success: function(data, status, jqxhr) {
           if(data['data']['error']) {
             if(data['data']['redirect']) {
               $("#submit-modal").modal("show");
             } else {
               alert(data['data']['error']);
             }
             return;
           }
           upvote_link.find('.value').text(data['data']['votes']);
           upvote_link.parent().addClass('bumped');
           upvote_link.attr('href', upvote_link.attr('href').replace('bump', 'unbump'));
           upvote_link.removeClass('no-votes');
         }
       }); 
      }
    });
$('.supervote-link').on('click', function(e) {
  e.stopPropagation();
  e.preventDefault();
  link = $(this);
  $.ajax($(this).attr('href'), {
    type: 'POST',
    error: function(jqxhr, status, error) {
      alert("Could not vote, an error occurred. Please try again.");
    },
    success: function(data, status, jqxhr) {
      if(data['data']['error']) {
        if(data['data']['redirect']) {
          console.log('redirect')
        } else {
          alert(data['data']['error']);
        }
        return;
      }
      link.find('.value').text(data['data']['supervotes']);
    }
  });
});

</script>
</body>
</html>
